{% from "components/table.html" import table %}
{% extends "base.html" %}
{% block additional_css %}
    <link rel="stylesheet" href="/static/styles/components/table.css">
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
 {% include "components/navbar.html" %}
  <main>
    {{ table(
      titles=["Onderzoeken"],
      active_title="Onderzoeken",
      id={
        "Onderzoeken": "onderzoeken"
      },
      placeholder={
        "Onderzoeken": "onderzoeken"
      },
      endpoint={
        "Onderzoeken":"researches"
      },
      params={
        "Onderzoeken":""
      },
      delay=30000,
      has_search=True,
      has_filters=False,
      has_pagination=True,
      has_create=True,
      headers={
        "Onderzoeken": [
          {'key': 'titel', 'label': 'Titel', 'sortable': True},
          {'key': 'onderzoek_type', 'label': 'Type', 'sortable': True},
          {'key': 'begindatum', 'label': 'Startdatum', 'sortable': True},
          {'key': 'einddatum', 'label': 'Einddatum', 'sortable': True},
          {'key': 'status', 'label': 'Status', 'sortable': True}
        ]
      },
      actions= {
        "Onderzoeken": [
        {'key': 'onderzoek_id', 'label': 'Informatie', 'icon': 'fa-solid fa-circle-info', 'class': 'btn-outline text-nowrap', 'role': 'link'},
        {'key': 'onderzoek_id', 'label': 'Verwijderen', 'icon': 'fa-solid fa-trash', 'class': 'btn-outline text-nowrap delete-btn', 'role': 'button'}
        ]
      },
      links= {
        "Onderzoeken": "onderzoek"
      }
    )}}
  </main>

  <script src="/static/js/components/table.js"></script>
  <script src="/static/js/organization/dashboard.js" type="module"></script>
{% endblock %}