{% extends "base.html" %}
{% block title %}Gebruikersdetails{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="/static/styles/components/vertical_tabs.css">
{% endblock %}


{% block body %}
    {% include "components/navbar.html" %}
    <section aria-label="Gebruikersoverzicht" class="user-container container table-section my-4"
             data-delay="60000">
        <div class="block d-flex flex-column gap-4">
            <div class="d-flex flex-wrap align-items-center justify-content-between gap-2">
                <h1 class="fs-3 fw-bold mb-0">Gebruikersdetails</h1>
            </div>
            <div class="tabs-wrapper d-flex flex-wrap gap-4">
                <aside class="d-flex flex-column flex-grow-1 flex-sm-grow-0 gap-2 me-md-5 mb-4" role="tablist"
                       aria-orientation="vertical">
                    <div id="tab-1" class="tab active" role="tab" aria-selected="true" aria-controls="user-info"
                         tabindex="0">Gegevens
                    </div>
                </aside>
                <main class="details d-flex flex-grow-1 p-4" aria-live="assertive">
                    <div id="user-info" class="tab-content active" role="tabpanel" aria-labelledby="tab-1"
                         aria-live="polite">
                        <div class="d-flex align-items-center justify-content-center h-100">
                            <div class="spinner-border text-primary" role="status" aria-live="polite">
                                <span class="visually-hidden">Bezig met inladen van gegevens</span>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <button id="back-btn" class="btn btn-sm btn-primary fw-bold">
                <i class="fa-solid fa-arrow-left"></i> Terug naar Dashboard
            </button>
        </div>
    </section>

    <script src="/static/js/admin/user-details.js"></script>
    <script src="/static/js/components/vertical_tabs.js"></script>
{% endblock %}


