h1 {
  color: var(--text-muted) !important;
  cursor: pointer;
}

h1.active {
  color: inherit !important;
  text-decoration: underline !important;
}
.table-wrapper {
  position: relative;
  overflow-x: auto;
}

.sortable {
  cursor: pointer;
  user-select: none;
}

tr {
  border-radius: var(--border-radius-card);
  overflow: clip;
}

th {
  background-color: var(--foreground) !important;
  padding: .6rem 1.2rem !important;
  font-size: 0.8rem;
  font-weight: 600;
}

td {
  padding: 1.2rem !important;
  font-size: 0.9rem;
  font-weight: 600;
  vertical-align: middle;
}

.table-striped > tbody > tr:nth-of-type(2n+1) > * {
  background-color: var(--background) !important;
  box-shadow: none !important;
  color: var(--text-primary);
}

.table-striped > tbody > tr:nth-of-type(2n) > * {
  background-color: var(--foreground) !important;
  box-shadow: none !important;
  color: var(--text-primary);
}

/* table icons */
.fa-folder-open {
  color: inherit;
  font-size: 2em;
}

.fa-exclamation-circle {
  color: rgb(184, 2, 2);
  font-size: 2em;
}

/* table search */
.search-wrapper {
  position: relative;
  max-width: 400px;

  input {
    padding-left: 42px !important;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    opacity: 0.6;
  }
}

/* Table sorting icons */
.sortable[data-order="asc"] .fa-sort-up {
  display: inline !important;
}

.sortable[data-order="desc"] .fa-sort-down {
  display: inline !important;
}

.sortable[data-order="none"] .fa-sort {
  display: inline !important;
}

.pagination-numbers {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pagination-numbers button {
  width: 38px;
  height: 38px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: var(--foreground);
  border-radius: var(--border-radius);
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.pagination-numbers button:hover {
  background-color: var(--primary);
  color: var(--text-contrast);
}

.pagination-numbers button.active {
  background-color: var(--primary);
  color: var(--text-primary);
  text-decoration: underline;
  font-weight: bold;
  border: none;
}

.pagination-numbers button:focus {
  outline: none;
}

.pagination-numbers button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
