<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Privacy</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Terms</a>
                    </li>
                    <li class="list-inline-item">
                        <a class="text-muted" href="#">Support</a>
                    </li>
                </ul>
                <small class="d-block mb-3 text-muted">&copy; 2025 wp3-2025-rest-1e2</small>
            </div>
        </div>
    </div>
</footer>
