{% extends "components/auth_layout.html" %}
{% block title %}Account voorwaarden{% endblock %}
{% block form %}
<div class="block d-flex flex-column w-100 p-5">
  <div class="p-5">
    <div class="text-center">
      <h1 class="fs-4 fw-bold" id="register-title">Account voorwaarden</h1>
    </div>

    <div class="py-4">
      <h2>Onze regels voor omgaan met jouw gegevens</h2>
      <sub class="text-muted">Laatst bijgewerkt op 01-01-2025</sub>
      <p class="pt-3">Welkom op onze website! We vinden het belangrijk dat jouw persoonlijke gegevens veilig
        zijn. Hier leggen we uit hoe we met jouw gegevens omgaan en wat jouw rechten zijn. Als je
        onze site gebruikt, ga je akkoord met deze regels.</p>
    </div>
    
    <ol class="d-flex flex-column gap-3">
      <li>
        <h3 class="fs-5">Welke gegevens verzamelen we?</h3>
        <p>We verzamelen alleen gegevens die nodig zijn om jou
          te koppelen aan organisaties die onderzoeken doen. Dit kunnen bijvoorbeeld je naam,
          contactgegevens en informatie over jouw beperking zijn.</p>
      </li>
      <li>
        <h3 class="fs-5">Jij bepaalt wat er gebeurt.</h3>
        <p>We delen jouw gegevens alleen met organisaties als jij daar
        toestemming voor geeft. Zonder jouw toestemming doen we dit niet.</p>
      </li>
      <li>
        <h3 class="fs-5">Waarom gebruiken we jouw gegevens?</h3>
        <p>We gebruiken jouw gegevens alleen om:
          <ol>
            <li>Jou te koppelen aan onderzoeken die bij je passen.</li>
            <li>Onze diensten beter te maken.</li>
          </ol>
        </p>
      </li>
      <li>
        <h3 class="fs-5">Hoe beschermen we jouw gegevens?</h3>
        <p>We doen er alles aan om jouw gegevens veilig te
          houden. We zorgen dat anderen er niet zomaar bij kunnen.</p>
      </li>
      <li>
        <h3 class="fs-5">Wat zijn jouw rechten?</h3>
        <p>Je hebt het recht om:
          <ol>
            <li>Te zien welke gegevens we van je hebben.</li>
            <li>Je gegevens aan te passen of te laten verwijderen</li>
            <li>Je toestemming in te trekken.</li>
            <li>Een klacht in te dienen als je vindt dat we niet goed omgaan met jouw gegevens.</li>
          </ol>
        </p>
      </li>
      <li>
        <h3 class="fs-5">Hoelang bewaren we jouw gegevens?</h3>
        <p>We bewaren jouw gegevens niet langer dan nodig
          Is of verwijderen ze op jouw verzoek. Soms moeten we ze langer bewaren omdat dat
          volgens de wet moet.</p>
      </li>
      <li>
        <h3 class="fs-5">Vragen?</h3>
        <p>Heb je vragen over deze regels of over jouw gegevens? Neem dan contact met
          ons op via <a class="link" href="https://www.accessibility.nl/">https://www.accessibility.nl/</a>.</p>
      </li>
    </ol>
    <p>We kunnen deze regels soms aanpassen, mocht dat gebeuren dan informeren we jou daarvan.</p>
  </div>
</div>
{% endblock %}
